<div class="container">
  <div class="row">
    <div class="col-lg-9 col-sm-12">
      <div class="related-products-wrapper">
        <h4 class="related-products-wrapper-heading">Related products</h4>
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let product of slideData.carouselData">
            <div class="card related-products-card h-100">
              <div class="card-header related-products-card-header">
                <div class="related-products-card-img">
                  <a href="{{ product.url }}">
                    <img title="" alt="" src="{{ product.productImageUrl }}" class="img-responsive">
                  </a>
                </div>
              </div>
              <div class="card-body related-products-card-body">
                <a href="{{ product.url }}">
                  <h5 class="card-title related-products-card-title">{{ product.name }}</h5>
                </a>
              </div>
              <div class="card-footer related-products-card-footer">
                <a href="{{ product.url }}">
                  <span class="stock-lbl">Stock</span>
                  <p class="price-lbl"> {{ product.price.currency }} <span>{{ product.price.formattedValue }}</span></p>
                </a>
                <button class="btn btn-buy-now">Buy now</button>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
</div>